.section {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.section h4 {
  margin: 0;
}

.details {
  display: grid;
  gap: var(--space-xs) var(--space-lg);
  grid-template-columns: auto 1fr;
  margin: 0;
}

.details dt {
  color: var(--color-text-muted);
  font-size: var(--font-size-base);
}

.details dd {
  color: var(--color-text);
  font-size: var(--font-size-base);
  margin: 0;
}
